.products{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    height: 70px;
    
}
.products a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 17px;
}
.products a:hover{
    color: orange;
}
.btn-logOut{
    cursor: pointer;
    font-size: 17px;
    border: none;
    background-color: black;
    color:white;
}
.btn-logOut:hover{
    color: orange;
}